/* Hello World CSS */

/* don't forget to validate at https://jigsaw.w3.org/css-validator/ */

body {
  background: black;
  font-size: 16px;
  height: 100vh; /* trick to make the "page" the full height */
}

p {
    font-size: 2em;
    color: #00FF00;
}
icon {
	font-size: 50em
	color: #00FF00
}
fas {
    color: #00FF00;
    font-size: 100em;
}
.row {}




